.navbar {
    background-color: aliceblue;
    border-radius: 100px;
    margin: 0 300px 0 300px;
    padding: 0.005px 20px;
}

.logo {
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

.links {
    text-decoration: none;
    font-family: 'Inter Tight',
        sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: black;
    padding: 25px;
    border-radius: 20px;
}

.links:hover {
    background-color: #EDEFEB;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Mobile version */

@media (max-width:450px) {}