.navbar {
    background-color: aliceblue;
    border-radius: 100px;
    margin: 0 300px 0 300px;
    padding: 2px;
}

.logo {
    width: 70px;
    display: flex;
    justify-content: flex-start;
}

.links {
    text-decoration: none;
    font-family: 'Inter Tight',
        sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: black;
    margin: 30px;
}

.links:hover {
    background-color: #EDEFEB;
    border-radius: 8px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}